/* google font montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* global styles */
body{
    font-family: 'Montserrat', sans-serif;

}
.counter {
    height: 20px;
    width: 20px;
    top: 10px;
    margin: 0 -5px;
    font-size: 14px;
    font-weight: 500;
    /* line-height: 22px; */
}